<div *ngFor="let product of products">
  <div class='prod'>
    <h3>
      <a [title]="product.name + ' details'" [routerLink]="['/products', product.id]">
        {{ product.name }}
      </a>
    </h3>
    <a [title]="product.name + ' details'" [routerLink]="['/products', product.id]">
      <img src="{{product.image}}" width="300px">
    </a>
    <img src="assets/{{product.rating}}" width="150px">
<!--    <div class="rate">-->
<!--      <input type="radio" id="star5" name="rate" value="5" />-->
<!--      <label for="star5" title="text">5 stars</label>-->
<!--      <input type="radio" id="star4" name="rate" value="4" />-->
<!--      <label for="star4" title="text">4 stars</label>-->
<!--      <input type="radio" id="star3" name="rate" value="3" />-->
<!--      <label for="star3" title="text">3 stars</label>-->
<!--      <input type="radio" id="star2" name="rate" value="2" />-->
<!--      <label for="star2" title="text">2 stars</label>-->
<!--      <input type="radio" id="star1" name="rate" value="1" />-->
<!--      <label for="star1" title="text">1 star</label>-->
<!--    </div>-->
    <p *ngIf="product.description">
      Description: {{ product.description }}
    </p>
  </div>

<!--  <app-product-alerts-->
<!--    [product]="product"-->
<!--    (notify)="onNotify()">-->
<!--  </app-product-alerts>-->
</div>
