<div class="all">
  <h2 class="titleProducts">Products</h2>
  <app-product-item></app-product-item>
<!--  <div *ngFor="let product of products">-->
<!--    <h3>-->
<!--      <a [title]="product.name + ' details'" [routerLink]="['/products', product.id]">-->
<!--        {{ product.name }}-->
<!--      </a>-->
<!--    </h3>-->

<!--    <p *ngIf="product.description">-->
<!--      Description: {{ product.description }}-->
<!--    </p>-->

<!--    <a href="https://telegram.me/share/url?url={{product.url}}">-->
<!--      <button>-->
<!--        Share-->
<!--      </button>-->
<!--    </a>-->

<!--    <app-product-alerts-->
<!--      [product]="product"-->
<!--      (notify)="onNotify()">-->
<!--    </app-product-alerts>-->
<!--  </div>-->
</div>

